.gallery {
  display: flex;
  width: calc(100% - 24px * 2);
  flex-wrap: wrap;
  list-style-type: none;

  gap: 24px;

  align-content: center;
  justify-content: center;
}

.gallery-item {}
.gallery-link {
}
.gallery-image {
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}

